<h1><%= @user.username %>'s Ideas:</h1>
<ol>
  <% @user.ideas.each do |idea| %>
    <li>Title: <%= idea.title %></br>
      Description: <%= idea.description %></br>
      <% if idea.category %>
        Category: <%= idea.category.name %></br>
      <% end %>
      <%= link_to "Edit", edit_idea_path(idea) %>
      <%= link_to "Delete", idea_path(idea), method: :delete %></li>
  <% end %>
</ol>
<%= link_to "Add Idea", new_idea_path(user_id: @user.id) %>
