<!DOCTYPE html>
<html>
<head>
  <title>Idea2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if signed_in? %>
    Hello, <%= current_user.username %>
    <%= link_to "Sign Out", sign_out_path, method: :delete %>
  <% else %>
    Don't have an account yet?
    <%= link_to "Sign Up", sign_up_path %>
    Already signed-up?
    <%= link_to "Sign In", sign_in_path %>
  <% end %>
  <%= yield %>

</body>
</html>
